@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
* {
  box-sizing: border-box; }

body {
  background-color: #222222;
  color: #eeeeee;
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  color: #a2a2a2; }

p {
  font-size: .8em;
  padding: 5px; }

a {
  text-decoration: none;
  border-bottom: 1px dotted #222222; }
  a:link {
    color: #606baa; }
  a:visited {
    color: #60518f; }
  a:hover, a:active {
    border-bottom: 1px dotted #666666; }

div {
  width: 100%;
  margin: 0 auto; }

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 50%;
  border: 1px solid #333333; }

th {
  text-align: left;
  padding: 2px 5px;
  color: #000;
  font-size: .9em;
  font-weight: bold; }

td {
  padding: 2px 5px;
  font-size: .8em; }

tr:nth-child(odd) {
  background-color: #666666; }

tr:nth-child(even) {
  background-color: #333333; }

table caption {
  color: #a2a2a2;
  font-weight: bold;
  padding: 2px;
  border: 1px solid #333333;
  border-bottom: 1px solid #222222; }

select {
  background-color: transparent;
  color: #a2a2a2;
  border: 1px solid #333333;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif; }
  select:focus {
    outline-color: transparent; }

option {
  background-color: #666666;
  color: #000; }

@media (min-width: 800px) {
  body {
    width: 80%;
    margin: 0 auto; }

  a {
    transition: border 500ms ease-in; } }
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #a2a2a2;
  text-align: center;
  font-size: .7em; }
