@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

$body-background: #222;
$text-color-body: #eeeeee;
$text-color-head: #a2a2a2;
$text-color-subhead: #666;
$text-color-button: #a2a2a2;
$link-color: #606BAA;
$link-color-visited: #60518f;
$color-gray-dk: #333;
$color-gray-lt: #666;

$font-main: "Open Sans", sans-serif;

* {
  box-sizing: border-box;
}

body {
  background-color: $body-background;
  color: $text-color-body;
  font-family: $font-main;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1, h2 {
  text-align: left;
  margin: 0;
  padding-left: 5px;
}

h1 {
  color: $text-color-head;
}

h2 {
  color: $text-color-subhead;
  font: {
    weight: lighter;
    size: .8em;
  }
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid $color-gray-dk;
}

a {
  text-decoration: none;
  &:link {
    color: $link-color;
  }
  &:visited {
    color: $link-color-visited;
  }
}

.btn {
  display: inline-block;
  width: 35%;
  height: 100px;
  line-height: 80px;
  padding: 5px;
  margin: 10px;
  background-color: transparent;
  border: 1px solid $color-gray-dk;
  border-radius: 3px;
  color: $text-color-button;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
  overflow: hidden;
  font: {
    weight: bold;
    family: $font-main;
  }
  &:active {
    background-color: $color-gray-lt;
    transition-property: background-color;
    transition: all 300ms;
  }
}
.buttons {
  width: 100%;
  margin: 0 auto;
}